// src/styles/global.scss
@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $color-text-dark;
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: $container-width;
  width: 90%;
  margin: 0 auto;
}